@import "./styles/main.css";
/* @import "./_normalizar.css";
/* *{
    padding: 0;
    margin: 0;
    overflow: hidden;
}

body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  .web {
    width: 100%;
    height: 100%;
    display: block;
  }
   */

#canvasid {
  position: relative;
  width: 100%;
  /* height: 200px; */
  /* border: 3px solid green; */
}

#hudsvgid {
  /* background-color: black; */
  border: 3px solid red;
  position: absolute;
  right: 0;
  border: 3px solid red;
  z-index: 1;
}

#lineaid,
#lineaverticalid {
  stroke: white;
  stroke-width: 3;
}

#sectionid {
  /* position: absolute; */
  /*background-color: orangered;*/
  /* background-color: rgba(255, 0, 0, 0.3); */
  /* background-color: #0ff; */
  /* background-color: #f08; */
  /* background-color: #002; */
  z-index: 1;
}

#mainid {
  position: relative;
}

#spanid {
  position: absolute;
  top: 50%;
  right: 50%;
  font-size: 16px;
  /* background-color: orangered; */
  color: white;
  transform: translate(50%, -50%);
  z-index: 99;
}

#statid {
  /* position: absolute;
      top: 0px;
      right: 0px;
      cursor: pointer;
      opacity: 0.9;
      z-index: 10000; */
}

.labelCSS2DRenderer {
  /* position: "absolute";
      top: "0px";
      pointer-events: "none"; */
}

.label {
  /* color: #FFF; */
  /* color: #000; */
  /* color: #FF0000; */
  color: rgba(255, 0, 0, 0.5);

  /* font-family: sans-serif; */
  font-family: monospace;
  font-size: 12px;
  padding: 15px;
  background: rgba(0, 0, 0, 1);
  /* background-color: #ff0000; */
  background: transparent;
  /* transform: rotate(-90deg); */
  display: block;
}

.tarjeta-info {
  display: none;
  position: absolute;
  background-color: rgba(34, 0, 0, 0.8);
  /* background-color: red; */
  color: white;
  top: 9px;
  left: 18px;
  right: 18px;

  max-width: calc(-18px + 100vw);
  /* margin: 6px; */
  padding: 9px;
  z-index: 999;
}
@media screen and (min-width: 500px) {
  .tarjeta-info {
    width: 380px;
  }
}
.btn-cerrar {
  position: absolute;
  right: 9px;
}
table {
  .titulo {
    text-align: left;
  }

  thead {
    float: left;
    /* background-color: red; */
  }

  thead th {
    display: block;
    text-align: left;
  }

  th,
  td {
    /* padding: 9px 9px; */
    padding-right: 18px;
    padding-top: 10px;
    padding-bottom: 9px;
  }

  td {
    /* padding: 9px 9px; */
    /* padding-right: 18px; */
    padding-top: 8.2px;
    /* padding-bottom: 9px; */
  }

  tbody {
    float: right;
  }
}

.flex {
  display: flex;
  column-gap: 16px;
}
.columna-3 {
  color: rgb(221, 221, 221);
  flex: 0 0 33.33%;
  max-width: 33.33%;
  p {
    color: rgb(221, 221, 221);
  }
}
.columna-4 {
  flex: 0 0 66.66%;
  max-width: 66.66%;
}

#dialogid {
  position: absolute;
  background-color: rgba(0, 0, 34, 0.8);

  width: 380px;
  max-width: calc(-12px + 100vw);
  top: 0px;
  right: 0px;
  margin: 6px;
  padding: 16px;
}

::backdrop {
  background-image: linear-gradient(
    45deg,
    magenta,
    rebeccapurple,
    dodgerblue,
    green
  );
  /* opacity: 0.75; */
  opacity: 0.1;
}

.contenedor-controles {
  position: absolute;
  bottom: 9px;
  left: 18px;
  right: 18px;
  /* margin-bottom: 6px; */
  display: flex;
  flex-direction: column;
  gap: 6px;
  /* justify-content: center; */
  /* background-color: red; */
  border: 1px solid red;
}

.form-controles {
  width: 100px;
  height: 100px;
  background-color: #e9e9ed;
  background-color: transparent;
  border: 1px solid white;
  input[type="image"] {
    /* background: url("./assets/icons/Artboard 52.webp") no-repeat; */
    /* display: block; */
    /* object-position: right top;
    object-fit: contain; */
    width: 100%;
    height: 100%;
    padding: 4px;
    /* margin: 10px 0; */
    box-sizing: border-box;
  }
}

:root {
  /* --width-svg: 100px;
  --height-svg: 100px;
  --width-g: var(--width-svg)-10px;
  --height-g: var(--height-svg)-10px; */
}

.control {
  background-color: yellow;
  display: flex;
  gap: 6px;
  justify-content: center;
  .button-control {
    width: 100px;
    height: 100px;
    /* flex-grow: 4; */
  }
}

.controles {
  display: flex;
  column-gap: 16px;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 6px;

  .boton-controles {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    background-color: transparent;
    /* border: none; */
    /* background-color: rebeccapurple; */
    padding: 4px;
    /* border: 1px solid red; */
    cursor: pointer;
  }
  .boton-controles:hover {
    /* width: 52px; */
    /* border: 1px solid red; */
    .g-svg {
      fill: white;
    }
  }
}
.svg-vmag {
  width: 90px;
  height: 90px;
}

.g-svg {
  /* fill: black; */
  fill: #2bb6ff;
}

.toggle-controles {
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: green; */
  /* border-radius: 50%; */

  .boton-toggle-controles {
    width: 60px;
    height: 60px;
    font-size: 16px;
    /* color: white; */
    border-radius: 50%;
    /* background-color: transparent; */
    /* background-color: red; */
    /* border: none; */
    cursor: pointer;
  }
  /* .boton-toggle-controles:hover {
    border: 1px solid red;
  } */
}
