@import "./styles/main.css";
/* @import "./_normalizar.css";
/* *{
    padding: 0;
    margin: 0;
    overflow: hidden;
}

body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  .web {
    width: 100%;
    height: 100%;
    display: block;
  }
   */

#canvasid {
  position: relative;
  width: 100%;
  /* height: 200px; */
  /* border: 3px solid green; */
}

#hudsvgid {
  /* background-color: black; */
  border: 3px solid red;
  position: absolute;
  right: 0;
  border: 3px solid red;
  z-index: 1;
}

#lineaid,
#lineaverticalid {
  stroke: white;
  stroke-width: 3;
}

#sectionid {
  /* position: absolute; */
  /*background-color: orangered;*/
  /* background-color: rgba(255, 0, 0, 0.3); */
  /* background-color: #0ff; */
  /* background-color: #f08; */
  /* background-color: #002; */
  z-index: 1;
}

#mainid {
  position: relative;
}

#spanid {
  position: absolute;
  top: 50%;
  right: 50%;
  background-color: orangered;
  color: white;
  transform: translate(50%, -50%);
  z-index: 99;
}

#statid {
  /* position: absolute;
      top: 0px;
      right: 0px;
      cursor: pointer;
      opacity: 0.9;
      z-index: 10000; */
}

.labelCSS2DRenderer {
  /* position: "absolute";
      top: "0px";
      pointer-events: "none"; */
}

.label {
  /* color: #FFF; */
  /* color: #000; */
  /* color: #FF0000; */
  color: rgba(255, 0, 0, 0.5);

  /* font-family: sans-serif; */
  font-family: monospace;
  font-size: 12px;
  padding: 15px;
  background: rgba(0, 0, 0, 1);
  /* background-color: #ff0000; */
  background: transparent;
  /* transform: rotate(-90deg); */
  display: block;
}

.tarjeta-info {
  display: none;
  position: absolute;
  background-color: rgba(34, 0, 0, 0.8);
  color: white;
  top: 0px;
  left: 0px;
  width: 380px;
  max-width: calc(-12px + 100vw);
  margin: 6px;
  padding: 16px;
  z-index: 999;
}
.btn-cerrar {
  position: absolute;
  right: 16px;
}

.flex {
  display: flex;
  column-gap: 16px;
}
.columna-3 {
  color: rgb(221, 221, 221);
  flex: 0 0 33.33%;
  max-width: 33.33%;
  p {
    color: rgb(221, 221, 221);
  }
}
.columna-4 {
  flex: 0 0 66.66%;
  max-width: 66.66%;
}

#dialogid {
  position: absolute;
  background-color: rgba(0, 0, 34, 0.8);

  width: 380px;
  max-width: calc(-12px + 100vw);
  top: 0px;
  right: 0px;
  margin: 6px;
  padding: 16px;
}

::backdrop {
  background-image: linear-gradient(
    45deg,
    magenta,
    rebeccapurple,
    dodgerblue,
    green
  );
  /* opacity: 0.75; */
  opacity: 0.1;
}
